@import 'src/App.scss';


.layoutTemplate{
    min-Height: 100vh;
    overflow: hidden;
     
        
      
}

.imageLogo{
    width: 250px;
    height: 220px;
    border-radius: 5%;
    border: none;
}

.headerTemplate{
    padding: 0;
    height: 100px;
    display: flex;
     background-color: $primary-color !important;
    background-image: linear-gradient( to right, $primary-color 70%, black   ) !important;
}

.imageLogoHeader{

     width: 300px;
    height: 70px;
    // object-fit: cover !important;
    // border-radius: 5%;
    // border: none;
}
.demo-logo-vertical{
    display: flex;
    justify-content: center;
    //margin-bottom: 25px;
}
.siderTemplate{
    background-color: $primary-color !important;
    background-image: linear-gradient( to top, black,$primary-color 80%,black   ) !important;
    width: 255px !important;
    flex: initial !important;
    min-width: none !important;
    max-width: none !important;
}

.menuTemplate{
    background-color: $primary-color !important;
    border-radius: 3px !important;
    //display: none;
}

.contentMain{
     width: 1200px;
    min-Width: 100%;
     padding: 24px;
     background-image: url('../../../utils/images/wepik-export-20230925205140mCjW.png');
}