@import 'src/App.scss';


.layoutTemplate{
    min-Height: 100vh;
    overflow: hidden;
     
        
      
}

.imageLogo{
    width: 250px;
    height: 220px;
    border-radius: 5%;
    border: none;
}

.headerTemplate{
    padding: 0;
    height: 100px;
    display: flex;
     background-color: $primary-color !important;
    background-image: linear-gradient( to right, $primary-color 70%, black   ) !important;
}


.demo-logo-vertical{
    display: flex;
    justify-content: center;
    //margin-bottom: 25px;
}


.menuTemplate{
    background-color: $primary-color !important;
    border-radius: 3px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-menu-item-selected{
        background-color: $primary-color !important;
        border-bottom: 2px  outset !important;
        border-bottom-width: 3px !important;
    }
}

.contentMain{
     width: 1200px;
    min-Width: 100%;
     padding: 24px;
     background-image: url('../../../utils/images/wepik-export-20230925205140mCjW.png');
}