@import 'src/App.scss';

.titleMovieNow{
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: baseline;
     margin-left: 15px;
     .ant-typography{
        color: white !important;
     }
     
}

.segmentedNow{
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #6f6f94;
    //padding-top: 10px;
  height: fit-content;
  .ant-segmented-item.ant-segmented-item-selected {
    background-color: #1d1d41;
    color: white !important;
  }
  
 
}

.spaceNow{
    display: flex !important;
    
}
