@import 'src/App.scss';

.titleMovieNow{
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: baseline;
}

.segmentedNow{
    display: flex;
    align-items: center;
    margin-left: 10px;
    //padding-top: 10px;
  height: fit-content;
 
}

.spaceNow{
    display: flex !important;
    
}
